$ohs-blue: #004CE0;
$ohs-blue-light: rgba(0, 140, 255, .1);
$ohs-orange: #FFB52F;
$ohs-red: #FF5368;
$ohs-green: #00CE7D;
$ohs-gray: #e5e5e5;
$ohs-gray-light: #F9F9F9;
$ohs-border: 1px solid $ohs-gray;
$ohs-basic-unit: 8px;
